body {
	background-color: black;
}

svg.timeline {
	position: absolute;
	bottom: 15px;
	left: 0px;
	width: 100%;
	border: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.timeline line {
	stroke: gray;
	stroke-width: 2px;
}

.timeline text {
	fill: gray;
	text-anchor: middle;
	font-weight: normal;
	font-size: 12pt;
	transition: all 0.5s;
}

text.highlight {
	fill: white;
	font-size: 16pt;
}
